<%- include header.ejs %>


<div class="jumbotron">
      <div class="container">
        <h1>欢迎来到Micrblog</h1>
        <p>这是一个基于Node.js的</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Cavin说</h2>
          <p>Node.js的第一个项目. Node.js的第一个项目. Node.js的第一个项目. 
          Node.js的第一个项目. Node.js的第一个项目. Node.js的第一个项目. Node.js的第一个项目. Node.js的第一个项目. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Heading</h2>
          <p>Node.js的第二个项目. Node.js的第二个项目.Node.js的第二个项目.
          Node.js的第二个项目.Node.js的第二个项目.Node.js的第二个项目.Node.js的第二个项目.Node.js的第二个项目.Node.js的第二个项目.Node.js的第二个项目. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2>Heading</h2>
          <p>Node.js的第三个项目. Node.js的第三个项目. Node.js的第三个项目. Node.js的第三个项目. Node.js的第三个项目. Node.js的第三个项目. Node.js的第三个项目. Node.js的第三个项目. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

<hr>

<%- include footer.ejs %>

